
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;

}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

body{
  background-color: #eeeeee;
  margin: 0;
}




/*CArds*/
.card{
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
}




/*Quiz*/
.quiz{
  height: 430px;
  width: 550px;
  position: absolute;
  left: 30%;
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;

}


.title{
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #800808;

}

.question{
  padding: 20px;
  font-size: 22px;
  background-color: #868686;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.option{
  width: 180px;
  display: inline-block;
  padding: 10px 0 10px 15px;
  text-align: left;
  background: rgb(94, 94, 94);
  margin: 10px 0 10px 10px;
  color: #060606;
  border-radius: 20px;

}

.green{
  background: rgb(17, 171, 42);
}

.option:hover{
  background: rgb(57, 57, 57);
  color: #fff;
}

.next-btn{
  border: none;
  outline: none;
  background-color: rgb(79, 19, 238);
  width: 150px;
  height: 35px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin: 30px;
}

.next-btn:hover{
  background-color: rgb(40, 4, 135);
}


.result{
  height: 100px;
  text-align: center;
  font-size: 25px;
}

.option input:checked{
  background-color: rgb(215, 124, 16);
  color: #fff;
}




.upper{
  background-color:  #860800;
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;

}

.upperCenter{
  text-align: center;

  padding-bottom: 20px;

  color: white;
}
.icon{
  float: left;
  padding-top: 23px;
  padding-left: 8px;
}
.navbar{
  top: 80px;
  margin-bottom: 70px;
}



.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top:0;
  left: 0;
  background-color: #4f0000;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}
.side-nav a{
  color: #ccc;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  transition: 0.3;
}
.side-nav a:hover{
  color: #fff;
}
.side-nav .btn-close{
 position: absolute;
 top: 0;
 right: 22px;
 font-size: 50px;
 margin-left: 50px;
}

#main{
  transition: margin-left 0.7s;
  padding: 0;
  overflow: hidden;

}

@media(max-width: 568px){
  .navbar-nav{display: none;}
  .navbar{height: 0;}
}






.upp-img{

}
.explain{
  height: auto;
  background-color: rgb(171, 36, 52);
    text-align: center;
    padding: 15px;
    color: white;
}
.classes{
  height: auto;
  background-color: rgb(67, 123, 203);
  color: white;
  text-align: center;
  opacity: 1;
  padding: 15px;
}
.becomeTeacher{
  height: 300px;
  background-color: rgb(65, 194, 58);
  text-align: center;
  color: white;
  padding: 20px;
}

.fach a{
  text-decoration: none;
  color: white;
}
.mathe{
  grid-area: mathe;
}
.WR{
  grid-area: wr;
}
.frw{
  grid-area: frw;
}
.title-index{
  grid-area: title;
}
.englisch{
  grid-area: englisch;
}
.franz{
  grid-area: franz;
}
.deutsch{
  grid-area: deutsch;
}
.IKA{
  grid-area: ika;
}
.gs{
  grid-area: gs;
}
.tu{
  grid-area: tu;
}
.img-fach{
  width: 200px;
  height: 200px;
  background-color: white;
  opacity: 2;
  padding: 5px;
  border-radius: 10%;
}

@media only screen and (min-width: 600px){
  .index-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: "title title"
                         "card1 card2"
                         "card3 card4"
                         "card5 card6";
                         grid-gap: 1em;
  }
}

@media only screen and (min-width: 1000px){
  .index-grid{
    display: grid;
    grid-template-columns: 1fr 340px 340px 340px 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: ". title title title ."
                         ". mathe wr frw ."
                         ". englisch franz deutsch ."
                         ". ika gs tu .";
                         grid-gap: 1em;
  }
}

.foot{
  background-color:  #860800;
}
