.content{
  margin-bottom: 50px;
}
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;

}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

body{
  background-color: #eeeeee;
  margin: 0;
}




/*CArds*/
.card{
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
}




/*Quiz*/
.quiz{
  height: 430px;
  width: 550px;
  position: absolute;
  left: 30%;
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;

}


.title{
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #800808;

}

.question{
  padding: 20px;
  font-size: 22px;
  background-color: #868686;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.option{
  width: 180px;
  display: inline-block;
  padding: 10px 0 10px 15px;
  text-align: left;
  background: rgb(94, 94, 94);
  margin: 10px 0 10px 10px;
  color: #060606;
  border-radius: 20px;

}

.green{
  background: rgb(17, 171, 42);
}

.option:hover{
  background: rgb(57, 57, 57);
  color: #fff;
}

.next-btn{
  border: none;
  outline: none;
  background-color: rgb(79, 19, 238);
  width: 150px;
  height: 35px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin: 30px;
}

.next-btn:hover{
  background-color: rgb(40, 4, 135);
}


.result{
  height: 100px;
  text-align: center;
  font-size: 25px;
}

.option input:checked{
  background-color: rgb(215, 124, 16);
  color: #fff;
}




.upper{
  background-color:  #860800;
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
}

.upperCenter{
  text-align: center;

  padding-bottom: 20px;

  color: white;
}
.icon{
  float: left;
  padding-top: 23px;
  padding-left: 8px;
}
.navbar{
  top: 80px;
  margin-bottom: 20px;
}



.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top:0;
  left: 0;
  background-color: #4f0000;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}
.side-nav a{
  color: #ccc;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  transition: 0.3;
}
.side-nav a:hover{
  color: #fff;
}
.side-nav .btn-close{
 position: absolute;
 top: 0;
 right: 22px;
 font-size: 50px;
 margin-left: 50px;
}

#main{
  transition: margin-left 0.7s;
  padding: 0;
  overflow: hidden;

}

@media(max-width: 568px){
  .navbar-nav{display: none;}
  .navbar{height: 0;}
}
