.content{
  margin: 50px;
}
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;

}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

body{
  background-color: #eeeeee;
}




/*CArds*/
.card{
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
}




/*Quiz*/
.quiz{
  height: 430px;
  width: 550px;
  position: absolute;
  left: 30%;
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;

}


.title{
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #800808;

}

.question{
  padding: 20px;
  font-size: 22px;
  background-color: #868686;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.option{
  width: 180px;
  display: inline-block;
  padding: 10px 0 10px 15px;
  text-align: left;
  background: rgb(94, 94, 94);
  margin: 10px 0 10px 10px;
  color: #060606;
  border-radius: 20px;

}

.option:hover{
  background: rgb(57, 57, 57);
  color: #fff;
}

.next-btn{
  border: none;
  outline: none;
  background-color: rgb(79, 19, 238);
  width: 150px;
  height: 35px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin: 30px;
}

.next-btn:hover{
  background-color: rgb(40, 4, 135);
}


.result{
  height: 100px;
  text-align: center;
  font-size: 75px;
}

.option input:checked{
  background-color: rgb(215, 124, 16);
  color: #fff;
}
